$font-accent: 'PT Sans Caption', sans-serif;

$color-primary: #333;
$color-white: #fff;
$color-accent-light: #1851b6;
$color-accent: #134090;
$color-accent-dark: #0e306c;
$color-secondary-light: #eee;
$color-secondary: #ccc;
$color-secondary-dark: #999;
$color-yellow: #fcc02a;