.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../img/hero-bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    &__title{
        margin: 0;
        margin-bottom: 60px;
        font-weight: 600;
        font-size: 44px;
        line-height: 130%;
        color: $color-white;
    }
    &__descr{
        font-family: $font-accent;
        font-weight: 700;
        color: $color-white;
    }
    &__descr-item{
        position: relative;
        margin: 0;
        margin-bottom: 18px;
        padding-left: 39px;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 24px;
            background-image: url(../img/hero-item-icon.svg);

        }
    }
    &__form{
        border-radius: 10px;
        padding: 35px 35px 20px 35px;
        background-color: #fff;
        box-shadow: 0px 4px 6px rgba(0,0,0,.05);
    }
}
.hero-form{
    &__title{
        margin: 0;
        margin-bottom: 30px;
        font-family: $font-accent;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
    }
    &__inner{
        margin-bottom: 15px;
    }
    &__input{
        width: 100%;
        height: 50px;
        border: 3px solid #eee;
        border-radius: 25px;
        margin-bottom: 15px;
        padding-left: 35px;
        font-family: $font-accent;
        font-size: 16px;
        line-height: 130%;
        &::placeholder{
            font-family: $font-accent;
            font-size: 16px;
            line-height: 130%;
            color: $color-secondary-dark;
        }
    }
    &__btn{
        width: 100%;
        margin-bottom: 30px;
        background-color: #134090;
        color: $color-white;
    }
    &__descr{
        margin: 0;
        font-family: $font-accent;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
    }
}
.form{
    display: none;
    max-width: 80%;
    margin: 0 auto;
}
@media (max-width: 1140px){
    .hero{
        &__title{
            margin-bottom: 30px;
            font-size: 24px;
        }
    }
}
@media (max-width: 992px){
    .hero{
        &__content{
            margin-bottom: 50px;
        }
    }
}
@media (max-width: 767px){
    .hero{
        &__form{
            display: none;
        }
    }
    .form{
        display: flex;
        padding-top: 20px;
    }
}
@media (max-width: 576px){
    .hero{
        padding-top: 50px;
        &__title{
            margin-bottom: 40px;
            font-size: 16px;
            line-height: 150%;
        }
        &__descr{
            margin-bottom: 13px;
            font-size: 13px;
        }
        &__form{
            padding: 20px;
        }
    }
    .hero-form{
        &__title{
            margin-bottom: 20px;
            font-size: 14px;
        }
        &__inner{
            margin-bottom: 10px;
        }
        &__input{
            margin-bottom: 10px;
            &::placeholder{
                font-size: 14px;
            }
        }
        &__btn{
            margin-bottom: 10px;
        }
        &__descr{
            font-size: 10px;
        }
    }
    .form{
        max-width: 90%;
    }
}
@media (max-width: 480px){
    .form{
        max-width: 100%;
    }
}