.table{
    width: 100%;
    border: 1px solid $color-primary;
    border-spacing: 0;
    font-family: 'Montserrat', sans-serif;
    &--one{
        margin-bottom: 50px;
    }
    &__title{
        width: 30%;
        border: 1px solid $color-primary;
        padding: 20px;
        background-color: $color-secondary;
        font-weight: 700;
        font-size: 18px;
        line-height: 130%;
        text-align: left;
        &--none-bg{
            background-color: transparent;
        }
    }
    &__descr{
        width: 70%;
        border: 1px solid $color-primary;
        padding: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        text-align: center;
    }
    &__descr-item{
        margin: 0;
        text-align: left;
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
    &__link{
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: $color-primary;
        &:hover{
            text-decoration: underline;
        }
        &--underline{
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
}
@media (max-width: 1140px){
.table{
    &__title{
        font-size: 16px;
    }
    &__descr, &__link{
        font-size: 14px;
    }
}
}
@media (max-width: 768px){
.table{
    &--one{
        margin-bottom: 20px;
    }
    &__title{
        width: 20%;
        padding: 10px;
        font-size: 14px;
    }
    &__descr{
        width: 80%;
        padding: 10px;
    }
    &__descr, &__link{
        font-size: 12px;
    }
}
}
@media (max-width: 370px){
.table{
    &__title{
        font-size: 12px;
    }
    &__descr, &__link{
        font-size: 10px;
    }
}
}